footer

  //script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script(type='text/javascript',src='/js/libs/jquery.js')
  script(type='text/javascript',src='/js/libs/jquery.ui.timepicker.js')
  script(type='text/javascript',src='/js/libs/jqueryui/js/jquery-ui-1.9.2.custom.min.js')
  script(type='text/javascript',src='/js/libs/bootstrap/js/bootstrap.min.js')
  script(type='text/javascript',src='/js/libs/dateformat.js')
  script(type='text/javascript',src='/js/script.js')
  if (gallery)
    //script(src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js")
    script(type='text/javascript',src='/js/libs/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js')
    script(type='text/javascript',src='/js/libs/picasa-photo-gallery.js')
  if (blog)
    script(type='text/javascript',src='/js/blog.js') 
  script 
    window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
